@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --darkblue: #1D2D5F;
    --blue: #64C5EB;
    --red: #e8175d;
    --yellow: #FEB326;
    --white: #dad4d4;
    --slate: #474747;
    --metal: #363636;
    --pinkish: #cc527a;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    color: var(--white);
}
body{
    background-color: var(--slate);
    position: relative;
    overflow: hidden;
}

nav{
    width: 100vw;
    height: 8vh;
    padding: 5px 350px 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    box-shadow: 0px 0px 40px var(--red);
    transition-duration: 250ms;
}

.left-nav{
    font-weight: bolder;
    font-style: inherit;
    letter-spacing: 1px;
}

.right-nav{
    display: flex;
    gap: 20px;
}

.content{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.add-student-button, .add-college-button{
    position: absolute;
    width: 450px;
    height: 350px;
    border-radius: 50%;
    background-color: var(--blue);
    top: 0;
    right: 0;
    transform: translate(40%, -60%);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    display: flex;
    z-index: 20;
}

.add-student-button:hover, .add-college-button:hover{
    width: 600px;
    background-color: var(--darkblue);
}

.add-student-modal{
    width: 40vw;
    display: absolute;
    top: 20%;
    left: 0%;
    height: 80vh;
    padding: 20px;
    background-color: var(--metal);
    box-shadow: 5px 5px 40px 10px var(--metal);
    position: absolute;
    transform: translate(260%, 120%);
    z-index: 20;
}
.edit-college-modal{
    display: none;
    width: 40vw;
    height: auto;
    padding: 20px;
    background-color: var(--metal);
    box-shadow: 5px 5px 40px 10px var(--metal);
    position: absolute;
    transform: translate(75%, 50%);
    transition-duration: .5ms;
    z-index: 20;
    align-items: center;
    justify-content: center;
}
.add-college-modal{
    width: 40vw;
    height: auto;
    padding:20px;
    background-color: var(--metal);
    box-shadow: 5px 5px 40px 10px var(--metal);
    position: absolute;
    transform: translate(260%, 120%);
    z-index: 20;
}

.form-row{
    width: 100%;
    padding: 5px;
    display: flex;
    gap:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
    margin: 10px 0px;
}

.form-row input::placeholder {
    color: var(--red);
    opacity: 1; 
  }

.form-row input, .form-row select{
    background-color: var(--metal);
    border: 1px solid var(--red);
    -webkit-transition: 0.1s;
    transition: 0.1s;
    transition-timing-function: ease-in;
    width: 50%;
    padding: 10px;
    color: var(--red);
}
.form-row input:focus, .form-row select:focus {
    border: 3px solid var(--red);
    outline: none;
}

.submit-form, .cancel-form{
    width: 50%;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.submit-form{
    background-color: rgb(55, 143, 55);
    font-weight: bolder;
}
.submit-form:hover{
    background-position: 100px 5px; 
}

.cancel-form{
    background-color: var(--pinkish);
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    background-color: aquamarine;
}
.err-message{
    background-color: #e8175d;
}

.message, .err-message{
    width: 400px;
    position: fixed;
    z-index: 20;
    height: 80px;
    padding: 20px;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(-100%, 0%);
    border-radius: 5px;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.success-message{
    color: #64C5EB;
    font-weight: bolder;
}

.messageIn{
    animation-name: AlertAnimationIn;
    animation-duration: .5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
    transform: translate(0%, 0%);
}
.messageOut{
    animation-name: AlertAnimationOut;
    animation-duration: .5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
    transform: translate(-100%, 0%);
}

@keyframes AlertAnimationIn {
    from {
        transform: translate(-100%, 0%);
    }
    to {
        transform: translate(0%, 0%);
    }
}
@keyframes AlertAnimationOut {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(-100%, 0%);
    }
}




.green-light{
    animation-name: Light;
    animation-duration: 1.5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards;
}

@keyframes Light {
    0% {
        box-shadow: 0px 0px 0px 0px green;
    }
    50%{
        box-shadow: 10px 10px 25px 15px rgb(40, 167, 40);
    }
    100% {
        box-shadow: 0px 0px 0px 0px green;
    }
}
.are-you-sure{
        display: fixed;
        width: 40vw;
        height: auto;
        padding: 20px;
        background-color: var(--metal);
        box-shadow: 5px 5px 40px 10px var(--metal);
        position: absolute;
        transform: translate(75%, 50%);
        transition-duration: 2ms;
        z-index: 20;
        align-items: center;
        justify-content: center;
        opacity: 0%;
}
.dont-show{
    display: none;
}

.popIn{
    animation-name: popInSmooth;
    animation-duration: .5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards
}
.popOut{
    animation-name: popoutSmooth;
    animation-duration: .5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards
}
@keyframes popInSmooth {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
  }

@keyframes popOutSmooth {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
  }





























.addStudentModalIn{
    animation-name: modalAnimationIn;
    animation-duration: .5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards
}
.addStudentModalOut{
    animation-name: modalAnimationOut;
    animation-duration: .5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards
}


.addStudentButtonOut{
    animation-name: hideAdd;
    animation-duration: .5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards
}
.addStudentButtonIn{
    animation-name: popAdd;
    animation-duration: .5s; 
    animation-timing-function: ease; 
    animation-fill-mode: forwards
}

@keyframes modalAnimationIn {
    from {
      transform: translate(260%, 120%);
    }
    to {
      transform: translate(80%, 0%);
    }
  }

@keyframes modalAnimationOut {
    from {
        transform: translate(80%, 0%);
    }
    to {
        transform: translate(260%, 120%);
    }
  }

@keyframes hideAdd {
    from {
        transform: translate(40%, -60%);
      }
      to {
        transform: translate(150%, -100%);
      }
}
@keyframes popAdd {
    from {
        transform: translate(150%, -100%);
      }
      to {
        transform: translate(40%, -60%);
      }
}


.college-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
    min-height: 50px;
}

.college-table-item {
    padding: 5px;
    text-align: center;
}


#college-name-edit-input{
    width: 80%;
}
#form-edit-college{
    width: 100%;
    height: 100%;
}


.scroll-container {
    width: 80%;
    height: 80vh; 
    overflow-y: auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    position: relative;
   }

   .scroll-table-head{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 50px;
    position: absolute;
    top: 0;
    background-color: #363636;
    z-index: 2;
   }
   
   .scroll-table {
    margin-top: 50px;
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 50px;
   }
   
   .scroll-row {
    display: contents;
    border: 1px solid #ccc;
   }
   
   .scroll-cell {
    padding: 10px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .scroll-container-4 {
    width: 100%;
    height: 75vh; /* Adjust the height as needed */
    overflow-y: auto;
   }
   
   .scroll-table-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px; /* Adjust the row height as needed */
   }
   
   .scroll-row-4 {
    display: contents;
   }
   
   .scroll-cell-4 {
    border: 1px solid #ccc;
    padding: 10px;
    overflow-wrap: break-word;
   }

.head{
    position: fixed;
}
.content{
    display: flex;
    flex-direction: column;
}

.delete-student-q{
    position: fixed;
    top: 20%;
    width: 400px;
    height: 200px;
    left: 35%;
    z-index: 40;
    background-color: #363636;
    display: none;
}