.student-main-container{
    width: 60vw;
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.student-info-container{
    padding: 10px;
    margin: 10px;
    display: grid;
    height: 70px;
    border-radius: 10px;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    gap: 20px;
    width: 95%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: ease-in;
}

.student-info-container p{
    text-wrap: nowrap;
}
   
.student-info-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.student-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.student-action{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    top: -20%;
    right: 0%;
}

.student-action div{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.student-action div img{
    width: auto;
    height: 15px;
}


.edit-icon-student-container{
    background-color: var(--green);
}
.delete-icon-student-container{
    background-color: var(--red);
}

.edit-student-modal-container,
.add-student-modal-container{
    height: 75vh;
    width: 45vw;
    position: fixed;
    background-color: white;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 20px 50px;
    top: 140%;
    right: -140%;
}
.edit-student-modal-container p,
.add-student-modal-container p{
    font-size: 30px;
    font-weight: bolder;
}
.edit-student-modal-row-input-container,
.add-student-modal-row-input-container{
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.edit-student-modal-row-input-container div,
.add-student-modal-row-input-container div{
    display: flex;
    gap: 30px;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
#student_id_edit, 
#student_email_edit,
#student_id_add, 
#student_email_add{
    width: 100%;
    padding: 5px 10px;
}
#first_name_edit, #last_name_edit, #middle_name_edit,
#first_name_add, #last_name_add, #middle_name_add{
    width: 50%;
    padding: 5px 10px;
}
#year_level_edits, #course_edit,
#year_level_add, #course_add{
    padding: 5px 10px; 
}

#gender_edit_div,
#gender_add_div{
    display: flex;
    justify-content: center;
    gap: 5px;
}

#year_edit_div, #course_edit_div,
#year_add_div, #course_add_div{
    display: flex;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5px;

}

#year_edit_div label, #course_edit_div label, 
#gender_edit_div p, #gender_edit_div label,
#year_add_div label, #course_add_div label, 
#gender_add_div p, #gender_add_div label{
    font-size: 12px;
}

#year_edit_div select, #course_edit_div select,
#year_add_div select, #course_add_div select{
    width: 100%;
}

#edit_student_cancel_button, #edit_student_submit_button,
#add_student_cancel_button, #delete_student_cancel_button,
#add_student_submit_button, #delete_student_button{
    width: 100%;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    color: var(--white);
    cursor: pointer;
}
#edit_student_cancel_button,#delete_student_cancel_button,
#add_student_cancel_button{
    background-color: var(--red);
}
#edit_student_submit_button, #delete_student_button,
#add_student_submit_button{
    background-color: var(--green);
    border: none;
}
.delete-student-close,
.edit-student-close,
.add-student-close{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2.5%;
    right: -2%;
    cursor: pointer;
}

.add-student-close img{
    width: 30px;
    height: 30px; 
}

.add-student-modal-button{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--green);
    right: -1%;
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
}

.add-student-modal-button:hover{
    padding: 10px 40px;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}


.delete-modal{
    width: 45vw;
    height: 35vh;
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    background-color: var(--white);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    top: 140%;
    right: -140%;
}

.delete-modal div{
    display: flex;
    gap: 20px;
}

#delete-id-span{
    color: var(--red);
}

.hide-this-card{
    animation-name: SlideHorizontal;
    animation-duration: 1200ms;
    animation-fill-mode: forwards;  
}

@keyframes SlideHorizontal {
    0% {
        right: 10%;
    }

    100% {
        right: -100%;
        opacity: .2;
    }
}


