{% extends 'layout.html' %}

{% block content %}
    <div class="course-main-container">
        <div class="add-course-modal-button" id="add-course-modal-button">
            Add Course
        </div>

        {% for course in courses %}
            <div class="course-container" id="course-container-{{course.course_code}}">
                <div class="course-card-title">
                    <div class="course-code-container">
                        <p id="course-course-code-{{course.course_code}}">{{course.course_code}} <span id="course-college-name-code-{{course.course_code}}">| {{course.college_name}}</span></p>
                    </div>
                    <div class="course-title-container">
                        <p id="course-course-name-{{course.course_code}}">{{course.course_name}}</p>
                        <div class="student-count-container">
                            <p>Students Enrolled: {{course.student_count}}</p>
                        </div>
                    </div>
                    <div class="course-action">
                        <div class="edit-icon-course-container" id="edit-course-{{course.course_code}}">
                            <img src="{{url_for('static', filename='images/editIcon.png')}}" alt="Edit Icon">
                        </div>
                        <div class="delete-icon-course-container" id="delete-course-{{course.course_code}}">
                            <img src="{{url_for('static', filename='images/deleteIcon.png')}}" alt="Delete Icon">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor%}


    </div>
{% endblock %}