<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <nav id="nav">
        <div class="left-nav">
            SSIS
        </div>
        <div class="right-nav">
            <a href="/students">Student</a>
            <a href="/courses">Course</a>
            <a href="/colleges">College</a>
        </div>
    </nav>
    {% block content%}{% endblock %}
    {% block script%}{% endblock %}
</body>
</html>