<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeepili</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/JeepiliLOGO.png')}}">
    {% include 'components/style.html'%}
</head>
<body>
    {% include 'components/navigationbar.html'%}

    <!--Student Modals-->
    {% include 'components/addstudentmodal.html'%}
    {% include 'components/editstudentmodal.html'%}
    {% include 'components/deletestudentmodal.html'%}

    <!--Course Modals-->
    {% include 'components/addcoursemodal.html'%}
    {% include 'components/editcoursemodal.html'%}
    {% include 'components/deletecoursemodal.html'%}


    
    {% block content %}

    {% endblock %}
    <div class="error">
        <p class="error-p"></p>
    </div>
    <div class="success">
        <p class="success-p"></p>
    </div>
    {% include 'components/scripts.html'%}
</body>
</html>