{% extends 'layout.html'%}
{%block title %}
    SSIS-Students
{% endblock %}


{% block content %}
    <div class="add-student-button" id="show-modal">
        Add Student
    </div>
    <div class="add-student-modal">
        <form action="" method="post" id="form">
            <div class="form-row">
                <img src="{{ url_for('static', filename='images/Zeus.jpg') }}" alt="Avatar" width="100" height="100">
            </div>
            <div class="form-row">
                <input type="text" name="id" id="inpt-id" placeholder="Enter student's id number">
            </div> 
            <div class="form-row">
                <input type="text" name="fname" id="inpt-fname" placeholder="Enter student's firstname">
                <input type="text" name="lname" id="inpt-lname" placeholder="Enter student's lastname">
            </div> 
            <div class="form-row">
                <input type="text" name="mname" id="inpt-mname" placeholder="Enter student's middlename" >
                <input type="email" name="email" id="inpt-email" placeholder="Enter student's email address">
            </div>
            <div class="form-row">
                <select name="sex" id="inpt-sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <input type="date" name="date" id="inpt-date">
            </div>
            <div class="form-row">
                <select name="course" id="inpt-course">
                    {% for course in courses %}
                    <option value="{{course.code}}">{{course.name}}</option>
                    {% endfor %}
                </select>
                <select name="year" id="inpt-year">
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option value="3">3rd</option>
                    <option value="4">4th</option>
                </select>
            </div>
            <div class="form-row">
                <button type="submit" class="submit-form">Submit</button>
                <div class="cancel-form" id="cancel-form">Cancel</div>
            </div>
        </form>
    </div>
    <div class="delete-student-q">
        <p>Are you sure to delete this student with an id of <span id="id-to-be-deleted"></span></p>
        <div class="cancel-delete-student cancel-form" onclick="HideThis('delete-student-q')">Cancel</div>
        <div class="delete-student submit-form"  id="delete-stud" onclick="DeleteStudent()">Delete</div>
    </div>
    <div class="content">
    <div class="scroll-container">
        <div class="table">
            <div class="scroll-table-head">
                <div class="scroll-cell">Student ID</div>
                <div class="scroll-cell">Fullname</div>
                <div class="scroll-cell">Sex</div>
                <div class="scroll-cell">Age</div>
                <div class="scroll-cell">Year</div>
                <div class="scroll-cell">Course_Code</div>
                <div class="scroll-cell">Edit</div>
                <div class="scroll-cell">Delete</div>
            </div>
        </div>
            <div class="scroll-table" id="student-table">
            {% for student in students %}
               <div class="scroll-row">
                    <div class="scroll-cell" id="student-{{student.id}}">{{student.id}}</div>
                    <div class="scroll-cell">{{student.firstname}} {{student.lastname}}</div>
                    <div class="scroll-cell">{{student.gender}}</div>
                    <div class="scroll-cell">{{student.birthdate}}</div>
                    <div class="scroll-cell">{{student.year}}</div>
                    <div class="scroll-cell">{{student.course_code}}</div>
                    <div class="scroll-cell">Edit</div>
                    <div class="scroll-cell" onclick="Delete(`{{student.id}}`)">Delete</div>
               </div>
            {% endfor %}
            </div>
        </div>
        <div class="message" id="s-alert-mssg">
            <p class="success-message" id="success-alt-message">
                a,sjdhjkasdh
            </p>
        </div>
        <div class="err-message" id="e-alert-mssg">
            <p class="success-message">
            </p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    const showModalButton = document.querySelector('#show-modal');
    const addStudentModal = document.querySelector('.add-student-modal')
    showModalButton.addEventListener('click',() =>{
        showModalButton.classList.remove('addStudentButtonIn')
        addStudentModal.classList.add('addStudentModalIn')
        addStudentModal.classList.remove('addStudentModalOut')
        showModalButton.classList.add('addStudentButtonOut')    
        document.querySelector('#nav').style.paddingRight = '50px'
    })
    
    document.addEventListener('click', function(event) {
        if ((event.target !== addStudentModal && event.target !== showModalButton  
        && hasClass(addStudentModal, 'addStudentModalIn') && !addStudentModal.contains(event.target))||event.target == document.querySelector('#cancel-form')) {
            Hide()
        }
    });

    function hasClass(element, className) {
    return element.classList.contains(className);
    }

    function Hide(){
            addStudentModal.classList.remove('addStudentModalIn')
            showModalButton.classList.remove('addStudentButtonOut')
            addStudentModal.classList.add('addStudentModalOut')
            showModalButton.classList.add('addStudentButtonIn')
            document.querySelector('#nav').style.paddingRight = '400px'
    }
    document.querySelector('#form').addEventListener('submit', function(event) {
        event.preventDefault();
        Submit()
    })

    async function Submit() {
    const id = document.querySelector('#inpt-id').value;
    const fname = document.querySelector('#inpt-fname').value;
    const mname = document.querySelector('#inpt-mname').value;
    const lname = document.querySelector('#inpt-lname').value;
    const date = document.querySelector('#inpt-date').value;
    const sex = document.querySelector('#inpt-sex').value;
    const email = document.querySelector('#inpt-email').value;
    const course = document.querySelector('#inpt-course').value;
    const year = document.querySelector('#inpt-year').value;
    const studentid =  id.split('-')

    if(studentid.length !== 2 || studentid[0].length !== 4 ||studentid[1].length !== 4){
        AddError('Student ID is not in the correct format!')
        return
    }else if(id.length === 0) {
        AddError("Can't leave the id input empty")
        return
    }else if(fname.length === 0)  {
        AddError("Can't leave the firstname input empty")
        return
    }else if(lname.length === 0) {
        AddError("Can't leave the lastname input empty")
        return
    }else if(mname.length === 0) {
        AddError("Can't leave the middlename input empty")
        return
    }else if(email.length === 0) {
        AddError("Don't forget to add your email address")
        return
    }else if(date.length === 0) {
        AddError("Don't forget to add your birthdate")
        return
    }

    const url = window.origin + '/students/addstudent';
    const data = {
        id: id,
        fname: fname,
        mname: mname,
        lname: lname,
        date: date,
        sex: sex,
        email: email,
        course: course,
        year: year,
    };
    
    const response = await fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    });

    if (response.ok) {
        const res = await response.json();
        Hide()
        const container = document.querySelector('#student-table')
        const div = document.createElement('div');
        div.classList.add('scroll-row');
        div.innerHTML = `
                    <div class="scroll-cell">${data.id}</div>
                    <div class="scroll-cell">${data.fname} ${data.lname} </div>
                    <div class="scroll-cell">${data.sex}</div>
                    <div class="scroll-cell">${data.date}</div>
                    <div class="scroll-cell">${data.year}</div>
                    <div class="scroll-cell"> ${data.course}</div>
                    <div class="scroll-cell">Edit</div>
                    <div class="scroll-cell">Delete</div>
        `
        container.appendChild(div)
        document.querySelector('#inpt-id').value = ''
        document.querySelector('#inpt-fname').value = ''
        document.querySelector('#inpt-mname').value = ''
        document.querySelector('#inpt-lname').value = ''
        document.querySelector('#inpt-email').value =''
        document.querySelector('.success-message').innerText = res.message;
        document.getElementById('s-alert-mssg').classList.add('messageIn')
        setTimeout(function(){
            document.getElementById('s-alert-mssg').classList.remove('messageIn')
            document.getElementById('s-alert-mssg').classList.add('messageOut')
            setTimeout(function(){
                document.getElementById('s-alert-mssg').classList.remove('messageOut')
            },1000)
        }, 2500)
    } else {
        const res = await response.json();
        AddError(res.message)
        console.error('Request failed with status: ' + response.status);
    }
}



function AddError(message){
    document.querySelector('#e-alert-mssg').innerHTML = `${message}`;
    document.getElementById('e-alert-mssg').classList.add('messageIn')
        addStudentModal.style.boxShadow = '5px 5px 40px 10px #e8175d'
        setTimeout(function(){
            document.getElementById('e-alert-mssg').classList.remove('messageIn')
            addStudentModal.classList.remove('Nahhhhhh')
            document.getElementById('e-alert-mssg').classList.add('messageOut')
            addStudentModal.style.boxShadow = '5px 5px 40px 10px #363636'
            setTimeout(function(){
                document.getElementById('e-alert-mssg').classList.remove('messageOut')
            },1000)
        }, 2500)
    }

function Delete(id){
    document.querySelector("#id-to-be-deleted").innerText = id
    document.querySelector(".delete-student-q").style.display = 'flex'

    //add-student-modal addStudentModalIn
    if(hasClass(addStudentModal, 'addStudentModalIn')){
        Hide()
    }

}

async function DeleteStudent(){
    const id = document.querySelector("#id-to-be-deleted").innerText 
    console.log('Delete this student with an id of:' + id)
    const url = window.origin + '/students/deletestudent'

    const data  = {
        id: id,
    }

    const response = await fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })

    if(response.ok){
        const res = await response.json();
        document.querySelector('.success-message').innerText = res.message;
        document.getElementById('s-alert-mssg').classList.add('messageIn')
        setTimeout(function(){
            document.getElementById('s-alert-mssg').classList.remove('messageIn')
            document.getElementById('s-alert-mssg').classList.add('messageOut')
            setTimeout(function(){
                document.getElementById('s-alert-mssg').classList.remove('messageOut')
            },1000)
        }, 2500)
    }else {
        const res = await response.json();
        AddError(res.message)
        console.error('Request failed with status: ' + response.status);
    }
}

function HideThis(element){
    document.querySelector(`.${element}`).style.display = 'none'
}


</script>
{% endblock%}